@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .custom_nav-container .nav_search-btn {
        background-position: center;
    }

    .navbar-collapse {
        padding-bottom: 20px;
    }

    .practice_box {
        margin: 100px 15px 0 15px;
        padding-bottom: 20px;
        transition: all .5s;
    }

    .practice_box:hover {

        transform: translateY(-90px);
    }

    .practice_detail p {
        margin-top: 25px;
    }

    .welcome_section::before {
        display: none;
    }
}

@media (max-width: 768px) {

    .info_section .col-md-4 {
        padding: 20px 30px;
        text-align: center;
    }

    .info_news input {
        width: 100%;
    }

    .hero_section-container {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .hero_section-container .hero_img-box {
        width: 85%;
    }
    #beta-malt {
        width: 225px;
        top: 0;
        left: 5rem;
    }
    #burger {
        width: 300px;
        right: 5rem;
        top: 0;
    }
    .hero_section-container .hero_detail-box {
        padding-bottom: 125px;
    }
    .voucher-wrapper {
        margin: 55px 10px auto!important;
    }
    .contact_form-container {
        padding: 20px;
    }
    .beta-subcopy {
        color: #d91b00;
        font-size: 20px;
    }
    .contact_section input {
        width: 100%;
    }
    .great-taste {
        width: 100%!important;
        margin: 20px auto;
    }

    .contact_img-box {
        padding: 20px;
    }
    .beta-merge{
        margin-right: 0;
    }
    .beta-form {
        margin-left: auto;
        margin-right: 43px;
    }
    .beta-form h1 {
        font-size: 30px;
        margin-bottom: 8px;
    }
    .beta-form form {
        width: 300px;
    }
    .beta-wrapper {
        background: rgb(255 255 255 / 50%);
        padding: 30px;
        border-radius: 30px;
        margin-right: 40px;
        position: relative;
        z-index: 1;
    }
    #voucher_detail-box .beta-wrapper {
        background: transparent;
        padding: 30px;
        border-radius: 30px;
        margin-right: 0;
        position: relative;
        z-index: 1;
    }
    #voucher_detail-box .beta-copy {
        font-size: 30px;
    }
    #voucher_detail-box {
        position: relative;
        right: 0;
        top: 0;
        background-image: linear-gradient(90deg, #c8c8d74d, #ffffff4d 40%);
        padding: 0px;
        margin: 0 auto 100px;
        border-radius: 15px;
        z-index: 0;
    }
    .footer_section{
        flex-direction: column;
        align-items: center;
    }
    .beta-form form {
        display: flex;
        flex-direction: column;
        width: 325px;
      }
      .beta-form {
          margin-top: 60px;
        display: flex;
        background: #ffffff40;
        padding: 20px;
        border-radius: 30px;
        color: #fff;
    }
    .beta-merge_main {
        display: flex;
        flex-direction: column;
    }
    .beta-merge{
        width: 100%;
    }

}

@media (max-width: 576px) {
    .hero_section-container {
        flex-direction: column;
    }

    .hero_section-container .hero_img-box {

        width: 90%;
    }

    .hero_section-container .hero_detail-box {
        width: 97%;

    }

    .hero_section-container .hero_detail-box .hero_detail-container {
        padding-left: 0;
        padding-top: 35px;
    }

    .carousel-control-prev {
        left: 33%;

    }

    .carousel-control-next {
        left: 52%;
    }

    .practice_box {
        margin: 75px 15px 0 15px;
        transition: all .3s;
    }

    .practice_box:hover {

        transform: translateY(-60px);
    }
}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}